@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {

    background-color: #000000;
    color: white;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    
}

header {

    background-color: #000000;

}


.mainlogo {

    padding-top: 25px;
    padding-bottom: 25px;
    display: block;
    margin: auto;

}


nav {

    text-align: center;
    padding-left: 15px;
    padding-bottom: 15px;

}

nav > a {

    margin-right: 30px;
    color: white;
    text-decoration: none;
    font-weight: normal;

}

nav > a:hover {

 font-weight: bolder;   

}



.contentbody {

    background-color: white;
    color: black;
    margin: auto;
    padding: 30px;

}

h1 {

    text-align: center;
    padding-bottom: 30px;
}

.icon-text {

    text-align: justify;
    padding-bottom: 30px;
}

.text-left {

    padding-left: 80px;
    padding-right: 20px;

}

.text-right {

    padding-right: 80px;
    padding-left: 20px;

}

.icon {

    width: 50px;
    height: 50px;
    display: inline-block;

}

.information {

    max-width: 700px;
    margin: auto;

}

section {

padding-left: 50px;
padding-right: 50px;


}

footer {

    background-color: #000000;
    padding-left: 20px;
    padding-right: 20px;
    
}

.left-side {


}

.right-side {
    float: right;
    padding-top: 17px;
    font-weight: lighter;

}

.right-side > a {
    text-decoration: none;
    color: white;

}